body{
    font-family: 'Montserrat', sans-serif;
    
}
.body{
    background-image: url(/Images/Homepage/Group\ 13297.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.logo {
    width: 200px;
    height: auto;
}
.signup-button{
    background-color: none;
    border: 1px solid black;
    width: 150px;
}
.text-center{
    padding-top: 4%;
}
.section-a{
    padding-top: 6%;
    
}
.button{
    border: 1px solid black;
    color: black;
}
.underline{
    text-decoration: underline;
}
.tiny{
    font-size: 12px;
}
.mini-header{
    font-weight: 500;
    font-size: 20px;
    
}
.mini-content{
    font-size: 12px;
}
.options{
    background-color: #4BA90A;
    color: white;
}
.comments{
    background-color: grey;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.client{
    margin-bottom: -30px;
}
.green{
    background-color: #4BA904;
}